body {
	background-color: #BDD5EA;
	color : #F3E9DC;
} 	


a {
	color: red;
}

.salwasdiv{
	color: yellow;
	font-size: 20px
}

.sidebar{
	color: green
}


.title{
	height: 60px;
	width: 100
}
.container{
	position: relative ;
}